@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
:root {
  --primary-color: #523242;
  --secondary-color: #F7B68B;
  --secondary-light-color: #F7CCAB;
  --background-color: #FEDEB8;

  --located: #7CB07F ;
  --somewhere: #EBB746;
  --nowhere: #c4ab99;
  
  height: 100%;
}

body {
  font-family: "Manrope", "Funnel Sans", sans-serif;
  margin: 0px;
  min-height: 560px;
  background-color: var(--background-color);
  font-size: 18px;
  height: 100%;
  touch-action: manipulation;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
